{% load static %}
<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" rel="noopener" target="_blank" href="./styles.css">      </head> -->
        <link rel="stylesheet" href="{% static 'order/styles.css' %}">
    <body>
        <h1>Please Order Your Coffee!</h1>
        <h2>{{ reply }}</h2>
        
        <form action="{% url 'order' %}" method="post">
            {% csrf_token %}
            <!-- <label for="order_name">Order Name: </label>
            <input id="order_name" type="text" name="order_name">
            <label for="email">Email: </label>
            <input id="email" type="text" name="email">
            <label for="size">Size : </label>
            <select name="flavour" id="flavour" >
                <option value="Latté"> Latté</option>
                <option value="Mochacino"> Mochacino</option>
                <option value="Cappucino"> Cappucino</option>
            </select>
            <select name="size" id="size" >
                <option value="small"> Small</option>
                <option value="medium"> Medium</option>
                <option value="large"> Large</option>
            </select> -->

            {{ coffee_form }}
            
            <input type="submit" value="Order Your Cuppa" style="background-color:green">
        </form>
        
    </body>
</html>